# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/masjid_cms?schema=public"

# Server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_ACCESS_SECRET=ganti-dengan-secret-acak-yang-panjang
JWT_REFRESH_SECRET=ganti-dengan-secret-refresh-acak-yang-panjang
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
